@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body{
    max-width: 75%;
    margin: auto;
}

nav{
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333333;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    min-width: 850px;
}

nav, ul, a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: white;
}

nav, ul, a:hover{
    color: #04AA6D;
}

ul { 
    display: inline;
}

li {
    display: inline;
    color: white;
}

ul :first-child{
    font-size: x-large;
}

.navbar-items {
    float: right;
}

.navbar-items :first-child{
    margin-right: 20px;
}

#navbar-title{
    float: left;
}

.active{
    color: #04AA6D;
}